<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.blog.mapper.LoginRegisterMapper">

    <!-- 用户注册 -->
    <insert id="registerUser" parameterType="User">
        INSERT INTO `mt-user` VALUES (#{id},#{nickName},#{password},#{avatar},#{describe},#{phone},#{qq},#{email},DEFAULT,#{createTime})
    </insert>

    <!--根据用户手机号查找用户信息-->
    <select id="selUserByPhone" parameterType="String" resultType="User">
        SELECT * FROM `mt-user` WHERE phone = #{phone}
    </select>

    <!--根据用户手机号更新密码-->
    <update id="forgetPwdUserByPhone" parameterType="User">
        UPDATE `mt-user` SET password = #{password} WHERE phone = #{phone}
    </update>
    <!--用户登录-->
    <select id="loginUser" parameterType="User" resultType="User">
        SELECT * FROM `mt-user` WHERE phone = #{phone} AND password = #{password}
    </select>

</mapper>